@import './base.css';

* {
    box-sizing: border-box;
}

html,
body,
#app {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

a,
.green {
    text-decoration: none;
    color: inherit;
    transition: 0.4s;
    padding: 3px;
}